[flake8]
max-line-length = 100
extend-ignore = E203, W503, F401, F541, E501
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .eggs,
    *.egg-info,
    .venv,
    venv,
    .pytest_cache,
    .mypy_cache

# Per-file ignores
per-file-ignores =
    examples/*.py: E402
    repl_toolkit/tests/*.py: E731, F841
    repl_toolkit/__init__.py: E402
    repl_toolkit/async_repl.py: E402
    repl_toolkit/actions/registry.py: E402
    repl_toolkit/headless_repl.py: E402
